@import '../../config.scss';

.cart {

  &__col {
    @include columns(8);
    @include offset-left(2);
  }

  &__totalprice {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter * 2;
    font-weight: bold;
  }

  &__input {
    margin: $gutter * 4 0;
    padding: $gutter 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    line-height: 2rem;
  }

  &__input input {
    height: 30px;
    margin: 2px 0;
    border: 1px solid #ccc;
  }

  &__title {
    font-family: $font-heading;
    font-weight: bold;
    margin-bottom: $gutter / 4;
  }

  &__nocart {
    font-family: $font-heading;
    margin-top: $gutter;
  }

  &__button {
    margin-top: $gutter / 4;
  }

  &__errors {
    color: $color-invalid;
  }
}