@import '../../config.scss';

.cart {

  &__col {
    @include columns(8);
    @include offset-left(2);
  }

  &__input {
    margin: $gutter * 4 0;
  }

  &__title {
    font-family: $font-heading;
    font-weight: bold;
  }

  &__nocart {
    font-family: $font-heading;
    margin-top: $gutter;
  }
}