@import '../../config.scss';

.home {

  &__row {
    @include row;
    margin-bottom: $gutter * 2;
    flex-wrap: wrap;
  }

  &__heading {
    margin: $gutter * 1.5 0 $gutter / 2;
    font-family: $font-heading;
    font-weight: 700;
  }

  &__button {
    margin: $gutter / 2;
  }

  &__subheading {
    font-family: $font-heading;
    margin-top: $gutter;
    font-weight: 700;
    margin-bottom: $gutter;
  }
}
