@import '../../config.scss';

.home {
  margin: $gutter;
  max-width: $max-width;

  @media (max-width: 700px) {
    //background: green;
  }

  &__container {
   // margin: 0 auto;
  }

  &__heading {
    font-family: $font-heading;
    font-weight: 700;
  }

  &__button {
    margin: $gutter 0;
  }

  &__subheading {
    font-family: $font-heading;
    margin-top: $gutter;
    font-weight: 700;
    margin-bottom: $gutter / 2;
  }
}
