@import '../../config.scss';

.input {
  &__container {
    display: flex;
    flex-direction: row;
    margin: $gutter / 3 0;
    width: 300px;
    justify-content: space-between;
  }

  &__label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &--error {
      color: $color-invalid;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 250px;

    &--error {
      border-color: $color-invalid;
    }
  }
}
