
@import '../../config.scss';

.products {

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 450px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    width: 425px;
    margin: $gutter / 4 0;
  }

  &__image {
    width: 425px;
    height: 280px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $gutter / 2 0;
  }

  &__descr {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $font-heading;
  }

  &__price {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: black;
  }
}
