@import '../../config.scss';

.categories {

  &__col {
    display: flex;

    @include columns(12);
    margin-bottom: $gutter * 2;

    @media (min-width: 600px) {
      @include columns(6);
    }

    @media (min-width: 1000px) {
      @include columns(4);
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: $gutter * 2 0;
    margin: -$gutter / 2 0;

    font-size: 2.5rem;
    border: 1px solid #000;
    text-align: center;

    &__back {
      background: green;
      transition:
        color $transition,
        background-color $transition,
        border-color $transition;

      &:hover {
        color: $color-background;
        background-color: $color-font;
      }
    }
  }

  &__title {
    text-decoration: none;
    color: black;
  }
}