@import '../../config.scss';

.categories {
  margin: $gutter;
  max-width: $max-width;

  &__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__categoryFront {
    // margin: $gutter / 2;
    margin-bottom: $gutter / 2;
    width: 400px;
    font-size: 3rem;
    padding: $gutter * 2;
    border: 1px solid #000;
    text-align: center;
  }

  &__category {
    // margin: $gutter / 2;
    margin-bottom: $gutter / 2;
    width: 400px;
    font-size: 3rem;
    padding: $gutter * 2;
    border: 1px solid #000;
    text-align: center;

    transition:
    color $transition,
    background-color $transition,
    border-color $transition;

    &:hover {
      color: $color-background;
      background-color: $color-font;
    }
  }

  &__title {
    text-decoration: none;
    color: black;
  }

}