@import '../../config.scss';

.categories {
  &__row {
    @include row;
    margin-bottom: $gutter * 2;
    margin-top: $gutter;
    flex-wrap: wrap;
  }

  &__col {
    display: flex;

    @include columns(12);
    margin-bottom: $gutter * 2;

    @media (min-width: 600px) {
      @include columns(6);
    }

    @media (min-width: 1000px) {
      @include columns(4);
    }
  }

  &__subheading {
    font-family: $font-heading;
    margin-top: $gutter;
    font-weight: 700;
    margin-bottom: $gutter;
  }

  &__category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: $gutter * 2 0;
    margin: -$gutter / 2 0;

    font-size: 2.5rem;
    border: 1px solid #000;
    text-align: center;
    text-decoration: none;

    &:hover {
      p {
        color: $color-background;
      }
      background-color: $color-font;
      transition: color $transition, background-color $transition,
        border-color $transition;
    }
  }

  &__title {
    text-decoration: none;
    color: black;
  }
}
