@import '../../config.scss';

.cart {

  &__row {
    @include row;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;
    background: green; */
    //margin-bottom: $gutter * 2; ????
  }
}
