@import '../../config.scss';

.register {

    &__col {
    @include columns(3);
    margin: $gutter 0;
    padding: 0;
  }

  &__title {
    font-family: $font-heading;
    margin-bottom: $gutter / 2;
  }

  &__input {
    line-height: 2em;
  }

  &__input input {
    height: 30px;
    margin: 2px 0;
  }

  &__button {
    margin: $gutter / 2 0 0;
  }

  &__login {
    color: $color-font;
    text-decoration: none;
  }
}
