@import '../../config.scss';

.header {
  margin: 0 auto;
  width: 100%;
  background: $color-font;
  padding: $gutter $gutter / 2;
  
  display: flex;
  justify-content: center;

  &__content {
    @include columns(12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: $max-width;
    
    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: 1400px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__title {
    font-family: $font-heading;
  }

  &__titleLink {
    color: $color-background;
    text-decoration: none;
    line-height: 2em;
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: $color-background;
    font-family: $font-main;
    width: 300px;
    
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;

    margin-left: -$gutter / 2;
    margin-right: -$gutter / 2;

    @media (max-width: 700px) {
      margin-top: $gutter / 2;
      justify-content: center;
    }
  }

  &__link {
    margin: 0 $gutter / 4 $gutter / 4;
    color: $color-background;
    text-decoration: none;

    &--selected {
      font-weight: bold;
      color: $color-background;
      text-decoration: none;
    }
  }

  &__link:visited {
    text-decoration: none;
  }
}